@font-face{font-family:Abel;src:url('abel-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:Borel;src:url('borel-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:'Cedarville Cursive';src:url('cedarville-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:Changa;src:url('changa-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:Changa;src:url('changa-600.ttf') format('truetype');font-weight:600;font-display:swap}
@font-face{font-family:Condiment;src:url('condiment-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:Cuprum;src:url('cuprum-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:Cuprum;src:url('cuprum-600.ttf') format('truetype');font-weight:600;font-display:swap}
@font-face{font-family:'DM Serif Display';src:url('dm-serif-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:'Fontdiner Swanky';src:url('fontdiner-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:Gruppo;src:url('gruppo-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:'Hanken Grotesk';src:url('hanken-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:'Hanken Grotesk';src:url('hanken-600.ttf') format('truetype');font-weight:600;font-display:swap}
@font-face{font-family:'Imperial Script';src:url('imperial-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:'Mozilla Headline';src:url('mozilla-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:'Mozilla Headline';src:url('mozilla-600.ttf') format('truetype');font-weight:600;font-display:swap}
@font-face{font-family:'Pixelify Sans';src:url('pixelify-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:'Pixelify Sans';src:url('pixelify-600.ttf') format('truetype');font-weight:600;font-display:swap}
@font-face{font-family:Righteous;src:url('righteous-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:'Rubik Glitch Pop';src:url('rubik-glitch-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:'Sankofa Display';src:url('sankofa-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:Unbounded;src:url('unbounded-400.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:Unbounded;src:url('unbounded-600.ttf') format('truetype');font-weight:600;font-display:swap}
@font-face{font-family:'Uncial Antiqua';src:url('uncial-400.ttf') format('truetype');font-weight:400;font-display:swap}
